fastapi
uvicorn[standard]
playwright==1.48.0
playwright-stealth
sqlalchemy
aiosqlite
pymysql
aiomysql
pydantic
python-dotenv
pydantic-settings
pyyaml
passlib[bcrypt]
python-jose[cryptography]
python-multipart
